.main {
  flex: 1;
  transition: 0.3s all ease;
  background-color: var(--main-background-color);
  height: calc(100% - 82px);
  padding-left: 30px;
  padding-right: 30px;
}
.main span {
  width: 400px;
}
.main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.main .actions {
  width: fit-content;
  margin: 0px auto;
}

.main .actions button {
  font-weight: bold;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .actions button .partner {
  display: flex;
  position: relative;
}
.main .actions button.partner {
  position: relative;
}
.main .actions button.partner:before {
  content: "";
  position: absolute;
  background-image: url("./public/leaf.png");
  background-size: cover;
  background-position: center;
  top: -10px;
  right: 10px;
  width: 20px;
  height: 20px;
}
.main .actions .partner {
  background-color: var(--main-color);
  color: white;
}
.main .actions button.partner:hover {
  color: black;
  background-color: var(--white-color);
}

/* -------------------------------------------------------------------------------- */
/* .join-form {
  margin-top: 30px;
} */
