:root {
  /* --main-color: #0c0c0c; */
  --main-color: #5cb338;
  /* #222831 */
  --main-background-color: white;
  /* "#222831" */
  --text-color: black;
  /* white */
  --border-color: #eee;
  --input-border-color: black;
  --member-border-color: #5cb338;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  outline: none;
}
.text {
  color: var(--text-color);
}
button:not(.mode-button) {
  background-color: none;
  border: 2px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-family: "Roboto Mono", serif;
  margin: 0;

  font: bold;
}
button:hover:not(.mode-button) {
  background-color: var(--main-color);
  border: 2px solid transparent;
  color: white;
}

.nav {
  transition: 0.3s all ease;

  height: 80px;
  background-color: var(--main-background-color);
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  text-decoration: none;
  font: bold;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 12px 10px;
  background-color: var(--main-color);
  border-radius: 4px;
}
.button-collection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mode-button {
  background-color: white;
  border-radius: 50%;
  border: none;
}
.mode-button img {
  cursor: pointer;
  display: block;
  width: 20px;
  height: fit-content;
}
